<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/clear.css" >
    <link rel="stylesheet" href="/styles/default.css" >
    <link rel="stylesheet" href="/styles/form_outline.css" >
</head>
<body>

<section class="toWatch">
    <div class="toWatch__container">
        <h2 class="toWatch__title">Ваш питомец</h2>
        <form class="toWatch__form" id="toWatch-form" action="/update-pet" method="POST">
            <label for="ascii">
                Ascii изображение:
                <% if (pet) { %>
                    <textarea id="ascii" name="ascii" rows="<%= rows %>" cols="<%= cols %>" required><%= pet.ascii %></textarea>
                <% } else { %>
                    <textarea id="ascii" name="ascii" rows="10" cols="50" placeholder="Добавьте ASCII изображение" required></textarea>
                <% }%>
            </label>

            <label for="description">
                Описание:
                <% if (pet) { %>
                    <input type="text" id="description" name="description" value="<%= pet.description %>" required>
                <% } else { %>
                    <input type="text" id="description" name="description" placeholder="Добавьте описание" required>
                <% }%>
            </label>

            <button id="offerToWatchListButton" class="button button--primary toWatch__button"
                    type="submit">Обновить</button>
        </form>
    </div>

    <div id="result-container" class="result__container"></div>
</section>
</body>
</html>